<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To - Do  List</title>
    <link rel="stylesheet" th:href="@{../static/css/bootstrap.min.css}"/>

</head>

<body>
    <div class="container">
        <h1 class="my-4">To Do List</h1>

        <form th:action="@{/addTask}" th:object="${task}" method="post" class="mb-4">
            <div class="form-group">
                <label> Description :</label>
                <input type="text" th:field="*{description}" class="form-control" required />
            </div>
            <div class="form-group">
                <label> Due Date :</label>
                <input type="date" th:field="*{dueDate}" class="form-control" required />
            </div>
            <div class="form-group">
                <label> Status :</label>
                <input type="text" th:field="*{status}" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <h2 class="my-4">Task List</h2>

        <ul class="list-group">
            <li class="list-group-item" th:each="task : ${tasks}">
                <span th:text="${task.description}"></span>
                <span th:text="${task.dueDate}"></span>
                <span th:text="${task.status}"></span>
            </li>
        </ul>
    </div>
    <script th:src="@{../static/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{../static/js/bootstrap.min.js}" ></script>
</body>
</html>